.toc {
display: block;
    ul {
        list-style:none;
        margin-left:0 0.3rem; 
    }

    ul > li {
        line-height: 1.2rem;
        overflow: hidden;
        white-space: wrap;
        a {
            margin:0;
            font-size: 0.8rem;
            &:hover{
                font-weight: bold;
            }
        }
    }

    ul >li a.current {
        font-size: 1rem;
    }


}