@import "./variables.scss";

pre[class*="language-"] {
  padding: 1.2em;
  margin: 1.5em 0;
  overflow: auto;
  border-radius: 0.6em;
}

code[class*="language-"] {
  line-height: 1.6;
  color: white;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #212121;
}
