@import "./variables.scss";

pre[class*="language-"] {
  padding: 1.2em;
  margin: 1.5em 0;
  overflow: auto;
  border-radius: 0.6em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #212121;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em 0.6em;
  border-radius: 0.2em;
  white-space: normal;
  background: $inline-dimmed-color;
  color: $inline-text-color;
}
