body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  .menu {
    a {
      color: $dark-link-color;
      text-decoration: none;
    }
    span {
      color: $dark-link-color;
    }
  }

  .header-wrapper {
    h1 {
      font-size: 3rem;
      line-height: 1.5;
      letter-spacing: -0.004em;
      margin-top: 0px;
      font-weight: 800;
      color: $light-gray;
      margin-bottom: 2rem;
      word-break: keep-all;
    }
  }

  .post-content {
    float: left;
    margin-bottom: 3rem;
    margin-top: 2rem;
    h2,
    h3,
    h4,
    h5 {
      color: $light-gray;
    }

    ul {
      list-style: none;
    }
  }

  .tag-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    display: flex;
    padding: 5px 2rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 1rem;

    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      border: 3px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      display: block;
      padding: 7px;
      font-size: 13px;
      box-sizing: border-box;
      cursor: pointer;
      margin-right: 1rem;
    }
  }

  .thumbnail {
    width: 100%;
    height: 18vh;
    margin-bottom: 1rem;
    padding: 10px 10px;
    display: flex;

    h3 {
      color: $dark-light-font-color;
    }
    .date {
      color: $dark-middle-font-color;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $light-gray;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }

  .info-header {
    border-bottom: 1px solid rgb(233, 236, 239);
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    span {
      color: $dark-lightest-font-color;
    }

    a {
      text-decoration: none;
      color: $dark-lightest-font-color;
    }
  }

  .summary-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
    border-bottom: 1px solid rgb(233, 236, 239);
    padding-bottom: 2rem;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  .experience-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(233, 236, 239);
  }

  .h1-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: $dark-link-color;
    border-left: 4px solid $dark-link-color;
    padding-left: 0.75rem;
    margin-bottom: 0;
  }

  .h2-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: $light-gray;
    margin: 0;
  }
  .h3-title {
    color: $light-gray;
    font-size: 1rem;
    margin-top: 0.6rem;
    padding-left: 1rem;
  }

  .skill-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(233, 236, 239);
  }
}
