$theme-header-backgournd-color: #F4F7FB;
$top-header-text-color: #2B2836;



/*
일반 테마
*/
$light-background-color: #fff;
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);



/*
다크 테마
*/

$dark-background-color: #282c35;
$dark-link-color: #bb72ec;
$dark-font-color: #eeeeee;

$dark-text-shadow: 0 0 0.1px rgba(255, 255, 255, 0.3);
$dark-hover-text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);