.img-section {
  display: flex;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  align-items: center;
}

img {
  border-radius: 50%;
  min-width: 200px;
}

.description {
  margin-left: 2rem;
  letter-spacing: 0.025em;
}
