@import '../../styles/variables.scss';

.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 11;

  .top {
    position: fixed;
    display: flex;
    z-index: 11;
    top: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 1rem 0.3rem;
    border-bottom: 1px solid #DBDDE1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $theme-header-backgournd-color;
    backdrop-filter: blur(16px);
    opacity: 1;

    .title {
      padding-bottom: 0.2rem;
    }

    .link {
      display: inline-block;
      font-size: 1.2rem;
      color: $top-header-text-color;
      opacity: 0.7;
      margin-left: 20px;
      font-family: 'Catamaran';
      font-weight: 800;
      text-decoration: none;
    }
  
    .switch-mode-container {
      margin: 0;
      padding: 0.2rem 0 0 0;
    }
  }
}
