.skill-container {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  justify-content: center;

  .skill-img {
    width: 5rem;
    filter: drop-shadow(1px 2px 5px rgba(30, 144, 255, 0.2));
    margin-top: 0.5rem;
  }

  .skill-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    width: 80%;

    @media (max-width: 1024px) {
      width: -webkit-fill-available;
    }
  }
}
