.skill-container {
  display: flex;
  width: 100%;
  margin: 1rem 0;
  justify-content: center;

  .skill-img {
    width: 20%;
    filter: drop-shadow(1px 2px 5px rgba(30, 144, 255, 0.2));
    margin-top: 0.5rem;

    @media screen and (max-width: 400px) {
      width: 30%;
    }
  }

  .skill-info-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    width: 80%;

    @media screen and (max-width: 1024px) {
      width: -webkit-fill-available;
    }

    @media screen and (max-width: 400px) {
      margin-left: 1rem;
      width: 60%;
    }
  }
}
