@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

.post-Wapper {
  width:80%;
  float: right;
  display: flex;
  padding: 1rem;

  .content {
    width:100%;

    h1{
      font-size: 3rem;
      line-height: 1.5;
      letter-spacing: -0.004em;
      margin-top: 0px;
      font-weight: 800;
      color: rgb(52, 58, 64);
      margin-bottom: 2rem;
      word-break: keep-all;
    }

    .summary-wrapper {
      position: relative;
      margin-top: 2rem;

      .summary {
        position: fixed;
        right: calc(1rem);

        .info{
          margin-left: 3rem;
          width: 150px;
          border-left: 2px solid rgb(233, 236, 239);
          padding: 0.25rem 0.75rem;
          color: rgb(134, 142, 150);
          line-height: 1.5;
          font-size: 0.875rem;
          max-height: calc(100vh - 128px);
          overflow: hidden auto;
        }
      }
    }
  }
  
  .post {
    width:80%;
    margin: 5rem auto 0px;
    float: left;
  }

}